@font-face {
  font-family: "Regular";
  font-style: normal;
  src: url(assets/styles/fonts/SourceSansPro-Regular.ttf)
    format("truetype");
}
@font-face {
  font-family: "Bold";
  font-style: normal;
  src: url(assets/styles/fonts/SourceSansPro-Bold.ttf)
    format("truetype");
}
@font-face {
  font-family: "Light";
  font-style: normal;
  src: url(assets/styles/fonts/SourceSansPro-Light.ttf)
    format("truetype");
}
@font-face {
  font-family: "Black";
  font-style: normal;
  src: url(assets/styles/fonts/SourceSansPro-Black.ttf)
    format("truetype");
}