$duration: 1000ms;

body {
  font-family: "Open Sans";
}
div.container {
  padding: 1em;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100vh auto;
  z-index: 1;
}

canvas#animation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

#page-title {
  position: sticky;
  top: 3rem;
  height: fit-content;
  font-weight: 700;
  font-size: 4em;
  line-height: 1.2em;
  opacity: 0;
  transition: opacity $duration;
  color: transparent;
  -webkit-text-stroke: black 2px;

  &.visible {
    opacity: 1;
  }
}

#student-list {
  position: relative;
  align-self: center;
  // top: 3rem;

  .row {
    opacity: 0;
    transition: opacity $duration;
    cursor: pointer;

    &.visible {
      opacity: 1;
    }

    &:hover {
      font-weight: 700;
    }
  }
}

#content-wrapper {
  position: relative;
  padding: 2rem;
  background-color: white;

  .student {
    position: relative;
    border-bottom: 0.5px black solid;
    padding: 1em 0;

    .student-name {
      font-size: 3em;
      font-weight: 700;
      text-transform: uppercase;
    }

    .student-socials {
      .github {
        height: 1.5em;
      }
    }

    .scroll-to-top {
      position: absolute;
      top: 2em;
      right: 1em;
      cursor: pointer;
    }
  }
}
